In [1]:
# 原始資料
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Data/elec_merge_20160101_20190930.csv')

In [5]:
df.head()

,日期,尖峰負載(MW),淨尖峰供電能力(MW),備轉容量(MW),備轉容量率(%),工業用電(百萬度),民生用電(百萬度),isHoliday,isHoliday(Next7)
0,2016/1/1,23038,25366.0,2328.0,10.11,263.799,189.300,1,0
1,2016/1/2,23209,25179.0,1970.0,8.49,261.975,187.991,1,1
2,2016/1/3,23686,26219.0,2533.0,10.69,266.167,190.999,1,1
3,2016/1/4,27518,29528.0,2010.0,7.31,302.227,216.875,0,0
4,2016/1/5,27635,29735.0,2100.0,7.60,313.328,224.841,0,0

In [4]:
# holiday = pd.read_csv('data/calendar.csv')

In [100]:
# holiday.head()

        date       name isHoliday holidayCategory   description
0   2013/1/1  中華民國開國紀念日         是       放假之紀念日及節日  全國各機關學校放假一日。
1   2013/1/5        NaN         是         星期六、星期日           NaN
2   2013/1/6        NaN         是         星期六、星期日           NaN
3  2013/1/12        NaN         是         星期六、星期日           NaN
4  2013/1/13        NaN         是         星期六、星期日           NaN

In [104]:
# holiday = holiday[['date', 'isHoliday']]
# holiday['date'] = pd.to_datetime(holiday['date'], format='%Y/%m/%d')
# holiday = holiday[holiday['date'].between(pd.Timestamp('2016-02-01'), pd.Timestamp('2017-01-31'), inclusive=True)]
# # holiday = holiday[holiday['date'].between(pd.Timestamp('2017-02-01'), pd.Timestamp('2017-02-28'), inclusive=True)]
# d = {'是': 1, '否': 0}
# holiday['isHoliday'] = holiday['isHoliday'].apply(lambda x: d[x])
# date_range = pd.date_range(start=holiday['date'].min(), end=holiday['date'].max())
# holiday = holiday.set_index('date').reindex(date_range).fillna(0).rename_axis('Date').reset_index()

In [105]:
# holiday.head(10)

        Date  isHoliday
0 2016-02-01        0.0
1 2016-02-02        0.0
2 2016-02-03        0.0
3 2016-02-04        0.0
4 2016-02-05        0.0
5 2016-02-06        1.0
6 2016-02-07        1.0
7 2016-02-08        1.0
8 2016-02-09        1.0
9 2016-02-10        1.0

In [106]:
# holiday.shape

(366, 2)

In [6]:
df['日期'] = pd.to_datetime(df['日期'], format='%Y-%m-%d')

In [7]:
# 新增空白新欄位 'isHoliday'
# df['isHoliday'] = np.nan
# df['isMalday'] = np.nan
df['Week'] = np.nan

In [109]:
# k_range = len(holiday)
print("k_range: ", k_range)

i = 0
for j in range(24):
            df['Week'].loc[i] = df['Date'].loc[i].weekday() 
#             df['isHoliday'].loc[i] = holiday['isHoliday'].loc[k]
#             df['isMalday'].loc[i] = malday['isMalday'].loc[k]
            i = i + 1

k_range:  366

C:\ProgramData\Anaconda3\envs\keras\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [111]:
df.head()

   Zone_ID       Date  Hour_slot  Hire_count  isHoliday  isMalday  Week
0        1 2016-02-01          0           0        0.0       1.0   0.0
1        1 2016-02-01          1           0        0.0       1.0   0.0
2        1 2016-02-01          2           0        0.0       1.0   0.0
3        1 2016-02-01          3           0        0.0       1.0   0.0
4        1 2016-02-01          4           0        0.0       1.0   0.0

In [112]:
df_temp = pd.DataFrame(df)

In [113]:
# 合併 Date 和 Hour 欄位
# df_temp['Date'] = pd.to_datetime(df_temp['Date'], format='%Y/%m/%d') + pd.to_timedelta(df_temp['Hour_slot'], unit='h')
# df_temp = df_temp.drop(['Hour_slot'], axis=1)

In [114]:
df_temp.head()

   Zone_ID       Date  Hour_slot  Hire_count  isHoliday  isMalday  Week
0        1 2016-02-01          0           0        0.0       1.0   0.0
1        1 2016-02-01          1           0        0.0       1.0   0.0
2        1 2016-02-01          2           0        0.0       1.0   0.0
3        1 2016-02-01          3           0        0.0       1.0   0.0
4        1 2016-02-01          4           0        0.0       1.0   0.0

In [115]:
df_temp.to_csv('data/train_hire_stats_merge_weekday_x.csv', index=False)
# df_temp.to_csv('data/test_hire_stats_merge_weekday.csv', index=False)